.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #8c00ff, #ff6f00);
}

button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.start {
  background-color: #00e676;
}

.stop {
  background-color: #ff3d00;
}

.reset {
  background-color: #2979ff;
}

p {
  font-size: 100px;
  color: #fff;
}

span {
  font-variant-numeric: tabular-nums;
}